{% extends 'header.html' %}

{% block body %}
<form action="" class="form" method="post">
      <br><br>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp" placeholder="Enter email" value='{{request.form.email}}'>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name='password' placeholder="Password" value='{{request.form.password}}'>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">List Public Key</button>
   </form>	
	<br>
	<br>


{% endblock %}